<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">l’Espadrille Volante</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link{% if app.request.get('_route') == 'app_home' %} active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if app.request.get('_route') == 'app_about' %} active{% endif %}" href="{{ path('app_about') }}">Le camping</a>
                    </li>
                    <li class="nav-item">
                  <a class="nav-link{% if app.request.get('_route') == 'app_position_list' %} active{% endif %}" href="{{ path('app_position_list') }}">Les emplacements</a>
                    </li>
                    <li class="nav-item">
                  <a class="nav-link{% if app.request.get('_route') == 'app_contact' %} active{% endif %}" href="{{ path('app_contact') }}">Nous contacter</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-success" href="{{ path('app_admin') }}">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                  <a class="nav-link{% if app.request.get('_route') == 'app_account' %} active{% endif %}" href="{{ path('app_account') }}">Tableau de bord</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link{% if app.request.get('_route') == 'app_login' %} active{% endif %}" href="{{ path('app_account') }}">Se connecter</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
