{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Newsletter</h1>
    <div>
        {% if app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ app.session.flashBag.get('success')[0] }}
        </div>
        {% endif %}
        <div class="container">
            {{ form_start(form) }}

            {{ form_widget(form.fullname) }}
            {{ form_errors(form.fullname) }}

            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}

            {{ form_widget(form.optIn) }}
            {{ form_errors(form.optIn) }}

            {{ form_widget(form.submit) }}

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
