{% extends 'account.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<!-- Breadcrumb -->
    <div class="navbar-dark bg-dark" style="background-image: url(/svg/components/wave-pattern-light.svg);">
      <div class="container content-space-1 content-space-b-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">Informations personnelles</h1>
            </div>

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light mb-0">
                <li class="breadcrumb-item">mon compte</li>
                <li class="breadcrumb-item active" aria-current="page">mes infos perso</li>
              </ol>
            </nav>
            <!-- End Breadcrumb -->
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <div class="d-none d-lg-block">
              <a class="btn btn-soft-light btn-sm" href="{{ path('logout') }}">se déconnecter</a>
            </div>

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
              <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content -->
        <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
          <div class="row">
            <div class="col-lg-3">
      <div class="navbar-expand-lg navbar-light">
        <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
          {% include 'account/_sidebar.html.twig' %}
        </div>
      </div>
      <!-- End Navbar -->
              <!-- End Navbar -->
            </div>
            <!-- End Col -->

            <div class="col-lg-9">
              <div class="d-grid gap-3 gap-lg-5">
                <!-- Card -->
                <div class="card">
                  <div class="card-header border-bottom">
                    <h4 class="card-header-title">Informations</h4>
                  </div>

                  <!-- Body -->
                  <div class="card-body">
                    <form>
                      <!-- Form -->
                      <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Profile photo</label>

                        <div class="col-sm-9">
                          <!-- Media -->
                          <div class="d-flex align-items-center">
                            <!-- Avatar -->
                            <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                              <img id="avatarImg" class="avatar-img" src="/upload/avatar/{{ app.user.avatar }}" alt="Image Description">
                            </label>

                            <div class="d-grid d-sm-flex gap-2 ms-4">
                              <div class="form-attachment-btn btn btn-primary btn-sm">Upload photo
                                <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader"
                                       data-hs-file-attach-options='{
                                          "textTarget": "#avatarImg",
                                          "mode": "image",
                                          "targetAttr": "src",
                                          "resetTarget": ".js-file-attach-reset-img",
                                          "resetImg": "/upload/avatar/{{ app.user.avatar }}",
                                          "allowTypes": [".png", ".jpeg", ".jpg"]
                                       }'>
                              </div>
                              <!-- End Avatar -->

                              <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                            </div>
                          </div>
                          <!-- End Media -->
                        </div>
                      </div>
                      <!-- End Form -->

                      <!-- Form -->
                      <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">nom complet</label>

                        <div class="col-sm-9 d-flex flex-row">
                            <input type="text" class="form-control w-50" name="firstName" id="firstNameLabel" placeholder="Clarice" aria-label="Clarice" value="{{ app.user.firstname }}">
                            <input type="text" class="form-control w-50" name="lastName" id="lastNameLabel" placeholder="Boone" aria-label="Boone" value="{{ app.user.lastname }}">
                        </div>
                      </div>
                      <!-- End Form -->

                      <!-- Form -->
                      <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">E-mail & Téléphone</label>

                        <div class="col-sm-9 d-flex flex-row">
                          <input type="email" class="form-control w-50" name="email" id="email" placeholder="clarice@example.com" aria-label="clarice@example.com" value="{{ app.user.email }}">
                          <input type="tel" class="form-control w-50" placeholder="+33 0 00 00 00 00" value="{{ app.user.phone }}">
                        </div>
                      </div>
                      <!-- End Form -->

                      <!-- Form -->
                      <div class="row align-items-center">
                        <label for="disableAdCheckbox" class="col-sm-3 col-form-label form-label">Newsletter <span class="badge badge-primary text-uppercase ms-1">PRO</span></label>

                        <div class="col-sm-9">
                          <!-- Check -->
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="disableAdCheckbox">
                            <label class="form-check-label" for="disableAdCheckbox">With your Pro account, you can disable ads across the site.</label>
                          </div>
                          <!-- End Check -->
                        </div>
                      </div>
                      <!-- End Form -->
                    </form>
                  </div>
                  <!-- End Body -->

                  <!-- Footer -->
                  <div class="card-footer pt-0">
                    <div class="d-flex justify-content-end gap-3">
                      <a class="btn btn-white" href="javascript:;">Cancel</a>
                      <a class="btn btn-primary" href="javascript:;">Save changes</a>
                    </div>
                  </div>
                  <!-- End Footer -->
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card">
                  <div class="card-header border-bottom">
                    <h4 class="card-header-title">Delete your account</h4>
                  </div>

                  <!-- Body -->
                  <div class="card-body">
                    <p class="card-text">When you delete your account, you lose access to Front account services, and we permanently delete your personal data. You can cancel the deletion for 14 days.</p>

                    <div class="mb-4">
                      <!-- Check -->
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="deleteAccountCheckbox">
                        <label class="form-check-label" for="deleteAccountCheckbox">Confirm that I want to delete my account.</label>
                      </div>
                      <!-- End Check -->
                    </div>

                    <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                  </div>
                  <!-- End Body -->
                </div>
                <!-- End Card -->
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Content -->
{% endblock %}
