{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h1>Change password</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.currentPassword) }}
            {{ form_widget(form.currentPassword, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(form.currentPassword) }}
        </div>

        <div class="form-group">
            {{ form_label(form.newPassword) }}
            {{ form_widget(form.newPassword, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(form.newPassword) }}
        </div>

        <div class="form-group">
            {{ form_label(form.confirmPassword) }}
            {{ form_widget(form.confirmPassword, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(form.confirmPassword) }}
        </div>

        <button type="submit" class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}
{% endblock %}
