{% extends 'base.html.twig' %}

{% block title %}{{ position.name }}{% endblock %}

{% block body %}
    <div class="main-content my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row flex-row-reverse">
                        <div>
                            <h1>{{ position.name }}</h1>
                        </div>
                        <div>
                            <img src="/upload/images/positions/{{ position.image }}" class="img-fluid rounded-4" alt="{{ position.name }}{{ position.type.name }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-sidebar">
                        <div class="sidebar-heading pt-3">
                            <h2>{{ position.type.name }}</h2>
                            <p>{{ position.description }}</p>
                        </div>
                        <div class="alert alert-light" role="alert">
                            <p>
                                <span class="position-price">{{ position.type.price/100 }} €</span> <span class="saison">en basse saison</span><br>
                                <small class="text-mutted">du 5 mai au 20 juin <br>du 1<sup>er</sup> septembre au 10 octobre</small>
                            </p><p>
                                <span class="position-price">{{ position.type.price/100*1.15 }} €</span> <span class="saison">en haute saison</span><br>
                                <small class="text-mutted">du 21 juin au 31 août</small>
                            </p>
                        </div>
                        <h3>Vérifier la disponibilité</h3>
                        <div class="form-content">
                            {{ form_start(form) }}
                            {{ form_row(form.checkin) }}
                            {{ form_row(form.checkout) }}
                            {{ form_row(form.submit) }}
                            {{ form_end(form) }}
                        </div>
                        {% if app.session.flashbag.has('error') %}
                        <div class="alert alert-danger">{{ app.session.flashbag.get('error')[0] }}</div>
                        {% endif %}
                        {% if app.session.flashbag.has('success') %}
                            <div class="alert alert-success mb-3">{{ app.session.flashbag.get('success')[0] }}</div>
                            <div>
                                <button type="button" class="btn btn-primary w-100">je réserve !</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
