{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<!-- Card Grid -->
    <div class="container content-space-2 content-space-b-lg-3">
      <!-- Title -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h1>{{ page_title }}</h1>
      </div>
      <!-- End Title -->

      {{ form_start(form) }}
      <div class="row py-5">
          <div class="col">
              {{ form_widget(form.type) }}
          </div>
          <div class="col">
              {{ form_widget(form.capacity) }}
          </div>
          <div class="col">
              {{ form_widget(form.submit) }}
          </div>
      </div>
      {{ form_end(form) }}

      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-5">
          {% for position in positions %}
          <div class="col mb-3">
          <!-- Card -->
          <a class="card card-flush shadow-none h-100" href="{{ path('camping_place', {'type': position.type.slug, 'slug': position.slug}) }}">
            <div class="card-pinned">
              <img class="card-img" src="/upload/images/positions/{{ position.image }}" alt="{{ position.name }}">

              <div class="card-pinned-top-start">
                <span class="badge bg-success">New</span>
              </div>
            </div>

            <!-- Body -->
            <div class="card-body">
              <span class="card-subtitle text-body">{{ position.type.name }}</span>

              <div class="row align-items-center mb-3">
                <div class="col">
                  <h4 class="card-title text-inherit">{{ position.name }}</h4>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <h3 class="card-title text-primary">{{ position.type.price/100 }} €</h3>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <ul class="list-inline list-separator text-body small">
                <li class="list-inline-item">
                  <span class="svg-icon svg-icon-xs svg-inline text-muted me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 640 512"><path d="M176 256c44.11 0 80-35.89 80-80s-35.89-80-80-80-80 35.89-80 80 35.89 80 80 80zm352-128H304c-8.84 0-16 7.16-16 16v144H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v352c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-48h512v48c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V240c0-61.86-50.14-112-112-112z"/></svg>
                  </span>
                {{ position.sleeping }} couchage{% if position.sleeping > 1 %}s{% endif %}
                </li>
                {% if position.shower >= 1 %}
                <li class="list-inline-item">
                  <span class="svg-icon svg-icon-xs svg-inline text-muted me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M304,320a16,16,0,1,0,16,16A16,16,0,0,0,304,320Zm32-96a16,16,0,1,0,16,16A16,16,0,0,0,336,224Zm32,64a16,16,0,1,0-16-16A16,16,0,0,0,368,288Zm-32,32a16,16,0,1,0-16-16A16,16,0,0,0,336,320Zm-32-64a16,16,0,1,0,16,16A16,16,0,0,0,304,256Zm128-32a16,16,0,1,0-16-16A16,16,0,0,0,432,224Zm-48,16a16,16,0,1,0,16-16A16,16,0,0,0,384,240Zm-16-48a16,16,0,1,0,16,16A16,16,0,0,0,368,192Zm96,32a16,16,0,1,0,16,16A16,16,0,0,0,464,224Zm32-32a16,16,0,1,0,16,16A16,16,0,0,0,496,192Zm-64,64a16,16,0,1,0,16,16A16,16,0,0,0,432,256Zm-32,32a16,16,0,1,0,16,16A16,16,0,0,0,400,288Zm-64,64a16,16,0,1,0,16,16A16,16,0,0,0,336,352Zm-32,32a16,16,0,1,0,16,16A16,16,0,0,0,304,384Zm64-64a16,16,0,1,0,16,16A16,16,0,0,0,368,320Zm21.65-218.35-11.3-11.31a16,16,0,0,0-22.63,0L350.05,96A111.19,111.19,0,0,0,272,64c-19.24,0-37.08,5.3-52.9,13.85l-10-10A121.72,121.72,0,0,0,123.44,32C55.49,31.5,0,92.91,0,160.85V464a16,16,0,0,0,16,16H48a16,16,0,0,0,16-16V158.4c0-30.15,21-58.2,51-61.93a58.38,58.38,0,0,1,48.93,16.67l10,10C165.3,138.92,160,156.76,160,176a111.23,111.23,0,0,0,32,78.05l-5.66,5.67a16,16,0,0,0,0,22.62l11.3,11.31a16,16,0,0,0,22.63,0L389.65,124.28A16,16,0,0,0,389.65,101.65Z"/></svg>
                  </span>
                  privée
                </li>
                {% else %}
                  <li class="list-inline-item">
                    <span class="svg-icon svg-icon-xs svg-inline text-muted me-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M304,320a16,16,0,1,0,16,16A16,16,0,0,0,304,320Zm32-96a16,16,0,1,0,16,16A16,16,0,0,0,336,224Zm32,64a16,16,0,1,0-16-16A16,16,0,0,0,368,288Zm-32,32a16,16,0,1,0-16-16A16,16,0,0,0,336,320Zm-32-64a16,16,0,1,0,16,16A16,16,0,0,0,304,256Zm128-32a16,16,0,1,0-16-16A16,16,0,0,0,432,224Zm-48,16a16,16,0,1,0,16-16A16,16,0,0,0,384,240Zm-16-48a16,16,0,1,0,16,16A16,16,0,0,0,368,192Zm96,32a16,16,0,1,0,16,16A16,16,0,0,0,464,224Zm32-32a16,16,0,1,0,16,16A16,16,0,0,0,496,192Zm-64,64a16,16,0,1,0,16,16A16,16,0,0,0,432,256Zm-32,32a16,16,0,1,0,16,16A16,16,0,0,0,400,288Zm-64,64a16,16,0,1,0,16,16A16,16,0,0,0,336,352Zm-32,32a16,16,0,1,0,16,16A16,16,0,0,0,304,384Zm64-64a16,16,0,1,0,16,16A16,16,0,0,0,368,320Zm21.65-218.35-11.3-11.31a16,16,0,0,0-22.63,0L350.05,96A111.19,111.19,0,0,0,272,64c-19.24,0-37.08,5.3-52.9,13.85l-10-10A121.72,121.72,0,0,0,123.44,32C55.49,31.5,0,92.91,0,160.85V464a16,16,0,0,0,16,16H48a16,16,0,0,0,16-16V158.4c0-30.15,21-58.2,51-61.93a58.38,58.38,0,0,1,48.93,16.67l10,10C165.3,138.92,160,156.76,160,176a111.23,111.23,0,0,0,32,78.05l-5.66,5.67a16,16,0,0,0,0,22.62l11.3,11.31a16,16,0,0,0,22.63,0L389.65,124.28A16,16,0,0,0,389.65,101.65Z"/></svg>
                    </span>
                    publique
                  </li>
                {% endif %}
                {% if position.surface >= 1 %}
                <li class="list-inline-item">
                  <i class="fa-solid fa-expand me-1"></i> {{ position.surface }} m<sup>2</sup>
                </li>
                {% endif %}
              </ul>
            </div>
            <!-- End Body -->
          </a>
          <!-- End Card -->
        </div>
        {% endfor %}
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="text-center">
        <a class="btn btn-outline-primary" href="{{ path('camping_list') }}">Voir tous les hébergements <i class="bi-chevron-right small ms-1"></i></a>
      </div>
    </div>
{% endblock %}
