{% extends 'account.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<!-- Breadcrumb -->
    <div class="navbar-dark bg-dark" style="background-image: url(/svg/components/wave-pattern-light.svg);">
      <div class="container content-space-1 content-space-b-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">{{ page_title }}</h1>
            </div>

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light mb-0">
                <li class="breadcrumb-item">mon compte</li>
                  <li class="breadcrumb-item">admin</li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_name }}</li>
              </ol>
            </nav>
            <!-- End Breadcrumb -->
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <div class="d-none d-lg-block">
              <a class="btn btn-soft-light btn-sm" href="{{ path('logout') }}">se déconnecter</a>
            </div>

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
              <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content -->
    <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
        <div class="row">
            <div class="col-lg-3">
                <div class="navbar-expand-lg navbar-light">
                    <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
                        {% include 'account/_sidebar.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Card -->
                <div class="card pb-5">
                    <div class="card-header">
                        <h5 class="card-header-title">Réservation n° {{ booking.id }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row pb-5">
                            <div class="col-md-6">
                                <p>
                                    Date : <strong>{{ booking.createdAt|date("d/m/Y à G:i", "Europe/Paris") }}</strong><br>
                                    Mobil-Home : <strong>{{ booking.position.name }}</strong>
                                </p>
                                <div class="bg-soft-primary border border-primary rounded p-3">
                                    <h6>
                                        {{ booking.days }} jour{% if booking.days > 1 %}s{% endif %} en {{ booking.position.type.name }}
                                    </h6>
                                    <p>
                                        {{ booking.adult }} adulte{% if booking.adult > 1 %}s{% endif %} et {{ booking.child }} enfant{% if booking.child > 1 %}s{% endif %}<br>
                                        du {{ booking.checkin|date("d/m/Y") }} au {{ booking.checkout|date("d/m/Y") }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 pt-3">
                                <p class="ps-3 pt-5">
                                    <strong>{{ booking.customer.fullname }}</strong><br>
                                    {{ booking.customer.address }}<br>
                                    {{ booking.customer.zipcode }} {{ booking.customer.city }}<br><br>
                                    E-mail : {{ booking.customer.email }}<br>
                                    Téléphone : {{ booking.customer.phone }}
                                </p>
                            </div>
                        </div>

                    <table class="table table-thead-bordered table-team-booking mb-5">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 60%;">Désignation</th>
                                <th scope="col" class="text-end pe-3">Prix unit</th>
                                <th scope="col" class="text-end pe-3">Qté</th>
                                <th scope="col" class="text-end pe-3">Prix total</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% if booking.getBsDays %}
                            <tr>
                                <td>
                                    journée/nuitée basse saison
                                </td>
                                <td class="text-end pe-4">{{ booking.getNormalPrice|number_format(2, ',', ' ') }} €</td>
                                <td class="text-end pe-4">{{ booking.getBsDays }}</td>
                                <td class="text-end pe-4">{{ booking.getTotalPriceBsDays|number_format(2, ',', ' ') }} €</td>
                            </tr>
                        {% endif %}

                        {% if booking.getHsDays %}
                            <tr>
                                <td>
                                    journée/nuitée haute saison
                                </td>
                                <td class="text-end pe-4">{{ booking.getHsPrice|number_format(2, ',', ' ') }} €</td>
                                <td class="text-end pe-4">{{ booking.getHsDays }}</td>
                                <td class="text-end pe-4">{{ booking.getTotalPriceHsDays|number_format(2, ',', ' ') }} €</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td>
                                entrée piscine (adulte)
                            </td>
                            <td class="text-end pe-4">{{ booking.getPoolAdultPrice|number_format(2, ',', ' ') }} €</td>
                            <td class="text-end pe-4">{{ booking.adultPool }}</td>
                            <td class="text-end pe-4">{{ booking.getTotalPoolAdultPrice|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td>
                                entrée piscine (enfant)
                            </td>
                            <td class="text-end pe-4">{{ booking.getPoolChildPrice|number_format(2, ',', ' ') }} €</td>
                            <td class="text-end pe-4">{{ booking.childPool }}</td>
                            <td class="text-end pe-4">{{ booking.getTotalPoolChildPrice|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td rowspan="8" class="border-0"></td>
                            <td colspan="2" class="text-end">
                                <strong>total HT</strong>
                            </td>
                            <td class="text-end pe-3"><strong>{{ booking.getTotalHt|number_format(2, ',', ' ') }} €</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="vat text-end">
                                TVA 10%
                            </td>
                            <td class="vat text-end pe-3">{{ booking.getVat10|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="vat text-end">
                                TVA 20%
                            </td>
                            <td class="vat text-end pe-3">{{ booking.getVat20|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-end">
                                <strong>total TTC</strong>
                            </td>
                            <td class="text-end pe-3"><strong>{{ booking.getTotalTtc|number_format(2, ',', ' ') }} €</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="vat text-end">
                                {{ booking.getTaxAdultQty }} taxe{% if booking.getTaxAdultQty > 1 %}s{% endif %} de séjour adulte
                            </td>
                            <td class="vat text-end pe-3">{{ booking.getTotalTaxAdultPrice|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="vat text-end">
                                {{ booking.getTaxChildQty }} taxe{% if booking.getTaxChildQty > 1 %}s{% endif %} de séjour enfant
                            </td>
                            <td class="vat text-end pe-3">{{ booking.getTotalTaxChildPrice|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-end">
                                <strong>remise fidelité</strong>
                            </td>
                            <td class="text-end pe-3"><strong>- {{ booking.getDiscount|number_format(2, ',', ' ') }} €</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-end">
                                <strong>NET À PAYER</strong>
                            </td>
                            <td class="text-end pe-3"><strong>{{ booking.getPayable|number_format(2, ',', ' ') }} €</strong></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
{% endblock %}
