{% extends 'account.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<!-- Breadcrumb -->
    <div class="navbar-dark bg-dark" style="background-image: url(/svg/components/wave-pattern-light.svg);">
      <div class="container content-space-1 content-space-b-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">{{ page_title }}</h1>
            </div>

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light mb-0">
                <li class="breadcrumb-item">mon compte</li>
                  <li class="breadcrumb-item">admin</li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_name }}</li>
              </ol>
            </nav>
            <!-- End Breadcrumb -->
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <div class="d-none d-lg-block">
              <a class="btn btn-soft-light btn-sm" href="{{ path('logout') }}">se déconnecter</a>
            </div>

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
              <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content -->
    <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
        <div class="row">
            <div class="col-lg-3">
                <div class="navbar-expand-lg navbar-light">
                    <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
                        {% include 'account/_sidebar.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Card -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-title">{{ page_title }}</h5>
                    </div>

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                        <thead class="thead-light">
                            <tr>
                                <th>Prénom</th>
                                <th>nom</th>
                                <th>...</th>
                                <th style="width: 5%;">...</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        {% if user.avatar %}
                                        <img class="avatar avatar-sm avatar-circle" src="/upload/avatar/{{ user.avatar }}" alt="Avatar {{ user.firstname }} {{ user.lastname }}">
                                        {% else %}
                                        <span class="avatar avatar-sm avatar-danger avatar-circle">
                                            <span class="avatar-initials">EV</span>
                                        </span>
                                      {% endif %}
                                    </div>

                                    <div class="flex-grow-1 ms-3">
                                      <a class="d-inline-block link-dark" href="#">
                                        <h6 class="text-hover-primary mb-0">{{ user.firstname }} {{ user.lastname }}</h6>
                                      </a>
                                      <small class="d-block">{{ user.email }}</small>
                                    </div>
                                  </div>
                                </td>
                                {% if user.isOwner %}
                                <td>
                                    {% if user.nbPositions %}
                                    {{ user.nbPositions }} mobilehome{% if user.nbPositions >1 %}s{% endif %}
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>
                                    {% if user.isTeam %}oui{% else %}non{% endif %}
                                </td>
                                <td>
                                  <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
                                    <i class="bi-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table -->

                <!-- Footer -->
                <div class="card-footer border-top">
                <div class="d-flex justify-content-end gap-3">
                  <a class="btn btn-white" href="javascript:;">Cancel</a>
                  <a class="btn btn-primary" href="javascript:;">Save changes</a>
                </div>
                </div>
                <!-- End Footer -->
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
{% endblock %}
