{% extends 'account.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<!-- Breadcrumb -->
    <div class="navbar-dark bg-dark" style="background-image: url(/svg/components/wave-pattern-light.svg);">
      <div class="container content-space-1 content-space-b-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">{{ page_title }}</h1>
            </div>

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light mb-0">
                <li class="breadcrumb-item">mon compte</li>
                  <li class="breadcrumb-item">admin</li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_name }}</li>
              </ol>
            </nav>
            <!-- End Breadcrumb -->
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <div class="d-none d-lg-block">
              <a class="btn btn-soft-light btn-sm" href="{{ path('logout') }}">se déconnecter</a>
            </div>

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
              <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content -->
    <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
        <div class="row">
            <div class="col-lg-3">
                <div class="navbar-expand-lg navbar-light">
                    <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
                        {% include 'account/_sidebar.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Card -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-title">Réservation n° {{ booking.id }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row pb-5">
                            <div class="col-md-6">
                                <p>
                                    Date : <strong>{{ booking.createdAt|date("d/m/Y à G:i", "Europe/Paris") }}</strong><br>
                                    Mobil-Home : <strong>{{ booking.position.name }}</strong>
                                </p>
                                <div class="bg-soft-primary border border-primary rounded p-3">
                                    <h6>
                                        {{ booking.days }} jour{% if booking.days > 1 %}s{% endif %} en {{ booking.position.type.name }}
                                    </h6>
                                    <p>
                                        {{ booking.adult }} adulte{% if booking.adult > 1 %}s{% endif %} et {{ booking.child }} enfant{% if booking.child > 1 %}s{% endif %}<br>
                                        du {{ booking.checkin|date("d/m/Y") }} au {{ booking.checkout|date("d/m/Y") }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                customer
                            </div>
                        </div>

                    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table table-team-booking">
                        <thead>
                            <tr>
                                <th scope="col">Désignation</th>
                                <th scope="col">Prix unit</th>
                                <th scope="col" class="text-center">Qté</th>
                                <th scope="col">Prix total</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% if booking.getBsDays %}
                            <tr>
                                <th scope="row">
                                    journée/nuitée basse saison
                                </th>
                                <td class="text-end pe-3">{{ booking.position.type.price / 100 }} €</td>
                                <td class="text-center">{{ booking.getBsDays }}</td>
                                <td class="text-end pe-3">{{ booking.getTotalPriceBsDays / 100 }} €</td>
                            </tr>
                        {% endif %}

                        {% if booking.getHsDays %}
                            <tr>
                                <th scope="row">
                                    journée/nuitée haute saison
                                </th>
                                <td class="text-end pe-3">{{ booking.position.type.price / 100 * 1.15 }} €</td>
                                <td class="text-center">{{ booking.getHsDays }}</td>
                                <td class="text-end pe-3">{{ booking.getTotalPriceHsDays/100 }} €</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th scope="row">
                                entrée piscine (adulte)
                            </th>
                            <td class="text-end pe-3">{{ pool_adult }} €</td>
                            <td class="text-center">{{ booking.adultPool }}</td>
                            <td class="text-end pe-3">{{ booking.getTotalPoolAdultPrice }} €</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                entrée piscine (enfant)
                            </th>
                            <td class="text-end pe-3">{{ pool_child }} €</td>
                            <td class="text-center">{{ booking.childPool }}</td>
                            <td class="text-end pe-3">{{ booking.getTotalPoolChildPrice }} €</td>
                        </tr>
                        <tr>
                            <td rowspan="7" class="border-0"></td>
                            <th colspan="2" scope="row" class="text-end">
                                total TTC
                            </th>
                            <td class="text-end pe-3">??? €</td>
                        </tr>
                        <tr>
                            <th colspan="2" scope="row" class="vat text-end">
                                TVA 10%
                            </th>
                            <td class="vat text-end pe-3">{{ booking.getTotalVat10/100 }} €</td>
                        </tr>
                        <tr>
                            <th colspan="2" scope="row" class="vat text-end">
                                TVA 20%
                            </th>
                            <td class="vat text-end pe-3">{{ booking.getTotalVat20 }} €</td>
                        </tr>
                        <tr>
                            <th colspan="2" scope="row" class="text-end">
                                total HT
                            </th>
                            <td class="text-end pe-3">{{ booking.getTotalHt }} €</td>
                        </tr>
                        <tr>
                            <th colspan="2" scope="row" class="vat text-end">
                                {{ booking.getTaxAdultQty }} taxe{% if booking.getTaxAdultQty > 1 %}s{% endif %} de séjour adulte
                            </th>
                            <td class="vat text-end pe-3">{{ booking.getTotalTaxAdultPrice }} €</td>
                        </tr>
                        <tr>
                            <th colspan="2" scope="row" class="vat text-end">
                                {{ booking.getTaxChildQty }} taxe{% if booking.getTaxChildQty > 1 %}s{% endif %} de séjour enfant
                            </th>
                            <td class="vat text-end pe-3">{{ booking.getTotalTaxChildPrice }} €</td>
                        </tr>
                        <tr>
                            <th colspan="2" scope="row" class="text-end">
                                <strong>Net à payer</strong>
                            </th>
                            <td class="text-end pe-3"><strong>??? €</strong></td>
                        </tr>
                        </tbody>
                    </table>


                    </div>
                </div>
                <!-- End Table -->

                <!-- Footer -->
                <div class="card-footer border-top">
                <div class="d-flex justify-content-end gap-3">
                  <a class="btn btn-white" href="javascript:;">Cancel</a>
                  <a class="btn btn-primary" href="javascript:;">Save changes</a>
                </div>
                </div>
                <!-- End Footer -->
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
{% endblock %}
