{% extends 'base.html.twig' %}

{% block title %}Confirmation de réservation{% endblock %}

{% block body %}
  <h1>Confirmation de réservation</h1>
  <p>Votre réservation a été confirmée.</p>
  <p>Vous avez réservé :</p>
  <ul>
    <li>{{ booking.position.name }} du {{ booking.checkin|date('d/m/Y') }} au {{ booking.checkout|date('d/m/Y') }}</li>
    <li>{{ booking.adult }} adulte(s) et {{ booking.child }} enfant(s)</li>
    <li>{{ booking.adultPool }} accès adulte(s) à la piscine et {{ booking.childPool }} accès enfant(s) à la piscine</li>
  </ul>
  <p>Vos informations de contact :</p>
  <ul>
    <li>{{ customer.firstname }} {{ customer.lastname }}</li>
    <li>{{ customer.email }}</li>
    <li>{{ customer.phone }}</li>
  </ul>
{% endblock %}
