{% extends 'base.html.twig' %}

{% block title %}Détails de la réservation{% endblock %}

{% block body %}
  <h1>Détails de la réservation</h1>

  {% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flash_message }}</div>
  {% endfor %}

  {% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flash_message }}</div>
  {% endfor %}

  {{ form_start(bookingForm) }}
  <div class="row">
      <div class="col-sm-6">
          <div class="form-group">
            {{ form_label(bookingForm.adult, 'Adultes') }}
            {{ form_widget(bookingForm.adult, {'attr': {'class': 'form-control'}}) }}
          </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
            {{ form_label(bookingForm.child, 'Enfants') }}
            {{ form_widget(bookingForm.child, {'attr': {'class': 'form-control'}}) }}
          </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
            {{ form_label(bookingForm.adultPool, 'Nombre de tickets adultes pour la piscine') }}
            {{ form_widget(bookingForm.adultPool, {'attr': {'class': 'form-control'}}) }}
          </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
            {{ form_label(bookingForm.childPool, 'Nombre de tickets enfants pour la piscine') }}
            {{ form_widget(bookingForm.childPool, {'attr': {'class': 'form-control'}}) }}
          </div>
      </div>

          {{ form_widget(bookingForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
  </div>
  {{ form_end(bookingForm) }}
{% endblock %}
