{% extends 'base.html.twig' %}

{% block title %}nous contacter{% endblock %}

{% block body %}
<div class="container">
{{ form_start(form) }}
    {{ form_row(form.fullname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.message) }}
    {{ form_widget(form.submit) }}
{{ form_end(form) }}
</div>
{% endblock %}
