{% extends 'base.html.twig' %}

{% block title %}{{ type.name }} - L'espadrille volante{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ type.name }}</h1>
</div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        {% for position in positions %}
                            <div class="col-md-4 pb-3">
                                <div class="card">
                                    {% if position.image %}
                                        1
                                    {% else %}
                                        <img src="/upload/images/positions/default-mobil-home.webp" class="card-img-top" alt="photo de {{ position.name }}">
                                    {% endif %}
                                    <div class="card-body">
                                        <h3 class="card-title">{{ position.name }}</h3>
                                        <p class="card-text">{{ position.description }}</p>
                                        <p class="card-text">
                                            capacité maximale : {{ position.type.capacity }}<br>
                                            prix : {{ position.type.price|raw }}
                                        </p>
                                        <div>
                                            <a class="btn btn-primary" href="{{ path('app_position', {'slug': position.slug}) }}">Détails</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                    filtres
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}